<h2>Celebrities List</h2>
<%allCelebs.forEach(celeb => { %>
    <div>Name: <%=celeb.name%></div>
    <div>Occupation: <%=celeb.occupation%></div>
    <div>Catchphrase: <%=celeb.catchPhrase%></div>
<% })%>